.tab-content.tab-container
                        table.table
                            thead
                                tr 
                                    th ID 
                                    th Descrição
                                    th Ação
                            // Linguagens e Ferramentas
                            tb
                                each val in linguagensFerramentas
                                    tr
                                        td.id= val.id_ferramenta
                                        td.texto= val.imagem_ferramenta
                                        td 
                                            a.link.editLinguagensFerramentas(href='/admin/edit/editLinguagensFerramentas/'+val.id_ferramenta) Editar
                                            |&nbsp;&nbsp;&nbsp;
                                            a.link.deleteLinguagensFerramentas(href='/admin/delete/deleteLinguagensFerramentas/'+val.id_ferramenta) Eliminar
                        form.mt-5#addLinguagemFerramenta(enctype='multipart/form-data' action="/admin/add/addLinguagemFerramenta", method="POST")
                            .file
                                label.file-label
                                    input.file-input(type="file", name="imagem" required)
                                    span.file-cta
                                        span.file-icon
                                            i.fas.fa-upload
                                        span.file-label Escolher um arquivo
                            input.button.is-info.mt-3.submit(type="submit", value="Upload")
                            input.button.is-warning.mt-3.ml-3(type="reset", value="Clear")
script.
    /*
      let addLinguagemFerramenta = document.getElementById("addLinguagemFerramenta");
    addLinguagemFerramenta.addEventListener("submit", e=>{
        e.preventDefault();
        let file = document.getElementsByClassName("file-input")[0];
        if(!file.value.match(/\.(png|jpg|svg|jpeg)$/))
        {
            alert("Please upload a Image");
        }else
        {
            postData(addLinguagemFerramenta); 
        }
    });
    */