extends adminlayout
block content
    .container
        div.mt-5.mb-5
            a.has-text-left(href="/logout") Sair 
        #tabs-with-content
            .tabs.is-centered.is-boxed
                ul
                    li.is-active
                        a(href="#") Academic formation
                    li
                        a(href="#") Language and Tools
                    li
                        a(href="#") Technical knowledge
                    li
                        a(href="#") Work experience
                    li
                        a(href="#") Idioms 
                    li
                        a(href="#") Contacts   
            div
                .content
                    .tab-content.tab-container
                        table.table
                            thead
                                tr 
                                    th ID 
                                    th Descrição
                                    th Ação
                            tb
                                each value in formacaoAcademica
                                    tr
                                        td #{formacaoAcademica.id}
                                        td #{formacaoAcademica.descricao}
                                        td 
                                            a.btn.btn-light.btn-small(href='/edit/' type='button') Editar&nbsp;&nbsp;
                                            a.btn.btn-light.btn-small(href='/delete/' type='button') Eliminar
                    form.mt-5(action="#", method="post")
                        .field
                            p.control
                                input.input(type="text", name="descricao" required)
                            p.control
                                button.btn.btn-primary Inserir
                        

                .tab-content
                    p Language and Tools contents 
                .tab-content
                    p Technical knowledge contents
                .tab-content
                    p Work experience contents 
                .tab-content
                    p Idioms contents
                .tab-content
                    p Contacts contents

block scripts
    script(src="/js/asset.js")