extends adminlayout
block content
    .container
        div.mt-5.mb-5
            a.has-text-left(href="/logout") Sair 
        #tabs-with-content
            .tabs.is-centered.is-boxed
                ul
                    li.is-active
                        a(href="#") Academic formation
                    li
                        a(href="#" id='element' table='linguagens_ferramentas') Language and Tools
                    li
                        a(href="#" id='element' table='conhecimentos_tecnicos') Technical knowledge
                    li
                        a(href="#" id='element' table='experiencia') Work experience
                    li
                        a(href="#" id='element' table='idiomas') Idioms 
                    li
                        a(href="#" id='element' table='contactos') Contacts   
            div
                .content
                    .tab-content.tab-container
                        table.table
                            thead
                                tr 
                                    th ID 
                                    th Descrição
                                    th Ação
                            tb
                                each val in formacaoAcademica
                                    tr
                                        td.id= val.id_formacao
                                        td.texto= val.descricao_formacao
                                        td 
                                            a.link.edit(href='/admin/edit/formacao_academica/'+val.id_formacao) Editar
                                            |&nbsp;&nbsp;&nbsp;
                                            a.link.delet(href='/admin/delete/formacao_academica/'+val.id_formacao) Eliminar
                        form.mt-5#formacaoAcademicaForm(action="/admin/add", method="POST")
                            .field
                                p.control
                                    input(type="hidden", name="table",value='formacao_academica')
                                    input.input.is-info(type="text",placeholder='Insira um dado novo' name="descricao" required)
                                    input.button.is-info.mt-3.submit(type="submit", value="Inserir")
                    .tab-content.tab-container
                        table.table
                            thead
                                tr 
                                    th ID 
                                    th Descrição
                                    th Ação
                            tb
                                each val in linguagensFerramentas
                                    tr
                                        td.id= val.id_ferramenta
                                        td.texto= val.imagem_ferramenta
                                        td 
                                            a.link.edit(href='#') Editar
                                            |&nbsp;&nbsp;&nbsp;
                                            a.link.delet(href='#') Eliminar
                        form.mt-5(action="#", method="POST")
                            .field
                                p.control
                                    input(type="hidden", name="table",value='formacao_academica')
                                    input.input.is-info(type="text",placeholder='Insira um dado novo' name="descricao" required)
                                    input.button.is-info.mt-3.submit(type="submit", value="Inserir")
                .tab-content
                    p Technical knowledge contents
                .tab-content
                    p Work experience contents 
                .tab-content
                    p Idioms contents
                .tab-content
                    p Contacts contents

block scripts
    script(src="/js/asset.js")