extends adminlayout
block content
    .container
        div.mt-5.mb-5
            a.has-text-left(href="/logout") Sair 
        #tabs-with-content
            .tabs.is-centered.is-boxed
                ul
                    li.is-active
                        a(href="#") Academic formation
                    li
                        a(href="#") Language and Tools
                    li
                        a(href="#") Technical knowledge
                    li
                        a(href="#") Work experience
                    li
                        a(href="#") Idioms
                    li
                        a(href="#") Projects 
                    li
                        a(href="#") Contacts   
            div
                .content
                    include _parts/formacao_academica
                    include _parts/linguagens_ferramentas
                    include _parts/conhecimentos_tecnicos
                    include _parts/experiencia
                    include _parts/idiomas
                    include _parts/projectos
                    include _parts/contactos

block scripts
    script(src="/js/asset.js")
    script.
        function postData(formElement)
        {
            let header = new Headers();
            let form = new FormData(formElement);
            let data = {};

            form.forEach((value, key) =>{ data[key] = value });
            header.append('Content-Type', 'application/json');
            
            (async ()=>{
                const URL = formElement.getAttribute('action');
                let response = await fetch(URL, {
                    method: 'POST',
                    headers: header,
                    body: JSON.stringify(data)
                });
                let mensagem = JSON.parse(await response.text());
                alert(mensagem.message);
                location.reload();
            })();
        }

        // Formação acadêmica
        const formacaoAcademicaForm = document.getElementById("formacaoAcademicaForm");
        formacaoAcademicaForm.addEventListener('submit',e =>{
            e.preventDefault();
            postData(formacaoAcademicaForm);
        });
        