extends adminlayout
block content
    .container
        div.mt-5.mb-5
            a.has-text-left(href="/logout") Sair 
        #tabs-with-content
            .tabs.is-centered.is-boxed
                ul
                    li.is-active
                        a(href="#") Academic formation
                    li
                        a(href="#") Language and Tools
                    li
                        a(href="#") Technical knowledge
                    li
                        a(href="#") Work experience
                    li
                        a(href="#") Idioms
                    li
                        a(href="#") Projects 
                    li
                        a(href="#") Contacts   
            div
                .content
                    include _parts/formacao_academica
                    include _parts/linguagens_ferramentas
                    include _parts/conhecimentos_tecnicos
                    include _parts/experiencia
                    include _parts/idiomas
                    include _parts/projectos
                    include _parts/contactos

block scripts
    script(src="/js/asset.js")
    script.
        function sendData(url,method,[...array])
        {
            let header = new Headers();
            let form = new FormData(array);
            let data = {};

            form.forEach((value, key) =>{ data[key] = value });
            header.append('Content-Type', 'application/json');
            
            (async ()=>{
                let response = await fetch(url, {
                    method: method,
                    headers: header,
                    body: JSON.stringify(data)
                });
                console.log(response);
            })();
        }