.navbar(role='navigation' aria-label='main navigation')
        .navbar-start
            a(href="#") Me 
            a(href="#") Projects 
            a(href="#") Contacts 
        .navbar-end 
            a(href="#") Portfolio  
