.navbar(role='navigation' aria-label='main navigation')
        .navbar-start
            a.navbar-item(href="/") Me 
            a.navbar-item(href="/projects") Projects 
        .navbar-end 
            a.navbar-item(href="/portfolio") Portfolio  
