.navbar(role='navigation' aria-label='main navigation')
        .navbar-start
            a.navbar-item.me(href="/") Me 
            a.navbar-item.projects(href="/projects") Projects 
            a.navbar-item.contacts(href="/contacts") Contacts 
        .navbar-end 
            a.navbar-item.portfolio(href="/portfolio") Portfolio  
