doctype html
html(lang="pt-br")
    head
        include _parts/head
        title Me
    body 
        include _parts/menu
        .container
            p.title.has-text-centered.mt-5.mb-5 404
        include _parts/footer
        script(src="js/standard.js") 