doctype html
html(lang="pt-br")
    head
        include _parts/head
        title Secret
    body 
        include _parts/menu
        .container.mt-5.has-text-centered
           section.c.center
                .field.is-horizontal
                form(action="/login", method="post")
                    .control
                        input.input(type="password" name='password' placeholder='Username')
                    .control
                        input.input.button.is-success.mb-3.mt-3(type="submit", value="Enviar")
                        input.input.button.is-primary(type="reset", value="Limpar")
        include _parts/footer
        script(src="js/standard.js") 