doctype html
html(lang="pt-br")
    head
        include _parts/head
        title Me
    body 
        include _parts/menu
        .container
            .columns.mt-2.is-vcentered
                .column.has-text-centered
                    p.title.has-text-weight-light Hi there, I’m #[strong Rodolfo Cabral Neves]
                    p.subtitle.has-text-weight-light A Software Engineering student at University of Brasília
                .column
                    img(src='img/eu.png')
        include _parts/footer
        script(src="js/standard.js") 