doctype html
html(lang="pt-br")
    head
        include _parts/head
        title Me
    body 
        include _parts/menu
        .container
            .columns.mt-2.is-vcentered
                .column.has-text-centered
                    p.title.has-text-weight-light Hi there, I’m #[strong Rodolfo Cabral Neves]
                    p.subtitle.has-text-weight-light A Software Engineering student at University of Brasília
                        p.mb-5.has-text-centered.has-text-weight-normal Get in touch with me through
                    .column
                        a(href="https://www.linkedin.com/in/rodolfo-neves-937324158/",target="_blank") #[img.imageContact(src="img/linkedin.svg", alt="Linkedin")] 
                        a(href="https://github.com/roddas/",target="_blank") #[img.imageContact(src="img/github.svg", alt="GitHub")] 
                        a(href="mailto:roddas360@gmail.com",target="_blank") #[img.imageContact(src="img/gmail.svg", alt="GMail")] 
                .column
                        img(src='img/eu.png')
        include _parts/footer
        script(src="js/standard.js") 