doctype html
html(lang="pt-br")
    head
        include _parts/head
        title Me
    body 
        include _parts/menu
        .container
            
        include _parts/footer
        script(src="js/standard.js") 