body{font-family:'Lato';}
.navbar{box-shadow:0px 0px 4px #000;}
.projectImage{width:256px;height:256px;margin-left:25%;}
.id{color:#036;}
.imageContact{width: 5rem;height:5rem;padding:2%;}
.info{width:60%;margin: 0 auto;}
.languages img{width:5rem;height:5rem;padding : 2%;}