body{font-family:'Lato';}
.navbar{box-shadow:0px 0px 4px #000;}
.projectImage{width:256px;height:256px;margin-left:25%;}
.id{color:#036;}
.imageContact{width: 5rem;height:5rem;padding:2%;}
.info{width:60%;margin: 0 auto;}
.c{width:40%;margin: 0 auto;}
.languages img{width:5rem;height:5rem;padding : 2%;}
#s{text-decoration: none;color:#4a4a4a}
#s:hover{cursor:default;}
#tabs-with-content .tabs:not(:last-child){margin-bottom: 0;}
#tabs-with-content .tab-content {padding: 1rem;display: none;}
#tabs-with-content .tab-content.is-active {display: block;}
.content{margin : 0 auto;}
.link{text-decoration:underline;};
.link:hover{cursor:pointer};