/* Cabeçário */
.full-name{font-size:8rem;color:#37465dff;font-weight:400;}
.header{width:100%;padding:1% 2%;background-color:#d5bf95ff;}

/* Corpo da página */
.title{font-size:5rem;color:#5d697bff;}
.content{text-align:justify;margin-top:5%;}